/* #region comment */
body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* #endregion */

/* #region Header */

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-black {
  color: #2e2f42;
}

.header-link {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-link {
  color: #434455;
}

.header-logo-black:hover,
.header-logo:focus {
  color: #4d5ae5;
}
.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}
/* #endregion */
/* #region Hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-subtitle {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-text {
}
/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-name {
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.profession {
  text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
  background-color: #ffffff;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  text-align: left;
}
/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-white {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
.footer-logo-white:hover,
.footer-logo:focus {
  color: #4d5ae5;
}
/* #endregion */
